<%- include("partials/header"); %>

    <div class="parallax-top-gallery">
        <div class="parallax-window-4" data-parallax="scroll" data-image-src="/images/coffeeParalax4.jpg">
            <%- include("partials/navbar"); %>
                <div class="heroGallery">
                    <h1>Gallery</h1>
                    <h3>Click each photo for an update!</h3>
                </div>

        </div>
    </div>

    <div class="container gallery">
        <div class="row my-5 justify-content-around align-items-center">
            <% photos.forEach(function(photo){ %>
                <div class="col-6 col-md-3 my-2">
                    <div class="card">
                        <img src="<%= photo.image %>" class="card-img-top" alt="..." data-toggle="modal" data-target="#galleryModal<%= photo.photoId %>">
                        <div class="card-body">
                            <p class="card-text">
                                <%= photo.title %>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="galleryModal<%= photo.photoId %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">
                                    <%= photo.title %>
                                </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												  </button>
                            </div>
                            <div class="modal-body">
                                <img id="modalImg" src="<%= photo.image %>" alt="...">
                                <p class="m-3">
                                    <%= photo.desc %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>



        </div>
    </div>
    <div class="comment">
        <div style="height: 2px; background-color: white; width: 75%; margin: 0 auto;"></div>
        <div class="my-4 row justify-content-around">
            <div class="col-md-4">
                <h3>Leave a nice comment!</h3>
                <form action="/gallery" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                        <small id="emailHelp" class="form-text text-muted">This will be stored and displayed so feel free to leave blank and remain anon!</small>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="row">

                    <% comments.forEach(function(comment){ %>
                        <div class="commentBox my-2 row">
                            <div class="col-2">
                                <p><span class="commentName"><%= comment.name %></span></p>
                            </div>
                            <div class="col-8">
                                <p><span class="commentMessage">"<%= comment.message %>"</span></p>
                            </div>
                            <div class="col-2">
                                <p><span class="commentDate"><%= comment.date %></span></p>
                            </div>
                        </div>
                        <% }) %>

                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer"); %>